services:
  site:
    container_name: site
    build:
      context: ./site
      dockerfile: dev.Dockerfile
    environment:
      - DEBUG=${DEBUG}
      - DATABASE_HOST=${LOCAL_DATABASE_HOST}
      - DATABASE_USER=${LOCAL_DATABASE_USER}
      - DATABASE_PASSWORD=${LOCAL_DATABASE_PASSWORD}
      - DATABASE_NAME=${LOCAL_DATABASE_NAME}
      - SESSION_SECRET=${SESSION_SECRET}
      - API_URL=${API_URL}"
      - TASKS_URL=${TASKS_URL}
    volumes:
      - ./site/src:/app/src
      - ./site/public:/app/public
    restart: always
    ports:
      - ${SITE_PORT}:3000

  tasks:
    container_name: tasks
    build:
      context: ./functions
      dockerfile: dev.Dockerfile
    environment:
      - TASKS_PORT=${TASKS_PORT}
      - DATABASE_HOST=${LOCAL_DATABASE_HOST}
      - DATABASE_USER=${LOCAL_DATABASE_USER}
      - DATABASE_PASSWORD=${LOCAL_DATABASE_PASSWORD}
      - DATABASE_NAME=${LOCAL_DATABASE_NAME}
      - FFVL_KEY=${FFVL_KEY}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
    volumes:
      - ./functions/src:/app/src
    expose:
      - '${TASKS_PORT}'
    ports:
      - ${TASKS_PORT}:${TASKS_PORT}
    command: yarn devTasks

  webhooks:
    container_name: webhooks
    build:
      context: ./functions
      dockerfile: dev.Dockerfile
    environment:
      - WEBHOOKS_PORT=${WEBHOOKS_PORT}
      - DATABASE_HOST=${LOCAL_DATABASE_HOST}
      - DATABASE_USER=${LOCAL_DATABASE_USER}
      - DATABASE_PASSWORD=${LOCAL_DATABASE_PASSWORD}
      - DATABASE_NAME=${LOCAL_DATABASE_NAME}
    volumes:
      - ./functions/src:/app/src
    expose:
      - '${WEBHOOKS_PORT}'
    ports:
      - ${WEBHOOKS_PORT}:${WEBHOOKS_PORT}
    command: yarn devWebhooks

  api:
    container_name: api
    restart: no
    build:
      context: ./functions
      dockerfile: dev.Dockerfile
    environment:
      - API_PORT=${API_PORT}
      - DATABASE_HOST=${LOCAL_DATABASE_HOST}
      - DATABASE_USER=${LOCAL_DATABASE_USER}
      - DATABASE_PASSWORD=${LOCAL_DATABASE_PASSWORD}
      - DATABASE_NAME=${LOCAL_DATABASE_NAME}
      - SESSION_SECRET=${SESSION_SECRET}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
    volumes:
      - ./functions/src:/app/src
    expose:
      - '${API_PORT}'
    ports:
      - ${API_PORT}:${API_PORT}
    command: yarn devApi

  database:
    image: postgres
    restart: always
    container_name: database
    environment:
      - POSTGRES_USER=${LOCAL_DATABASE_USER}
      - POSTGRES_PASSWORD=${LOCAL_DATABASE_PASSWORD}
      - POSTGRES_DB=${LOCAL_DATABASE_NAME}
    ports:
      - '5432:5432'
    volumes:
      - database:/var/lib/postgresql/data/

volumes:
  database:
