@value headerHeight: 70px;

.container {
    display: block;
    height: 70px;
    border-bottom: 1px solid #eaeaea;
    background: #555;
}

.content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1000px;
    flex-direction: row;
}

.headerTitle {
    height: 70px;
    line-height: 70px;
    font-weight: lighter;
    font-size: 35px;
    color: #ffffff
}

.space {
    flex: 1;
}

.navItem {
    height: 70px;
    padding: 0 1rem;
    line-height: 70px;
    justify-content: center;
    align-self: end;
    color: #ccc;
}

.navItem:hover {
    background: #666666;
    color: #ccc;
    cursor: pointer;
}

.navText {
    margin: auto;
    text-align: center;
}

.navText:hover {
    color: #666666;
}