.errorPadding {
    padding: var(--space-4) 0;
}

.errorItem {
    margin-bottom: var(--space-2);
}

.flightsSection {
    margin-top: var(--space-4);
    text-align: center;
}

.noFlightsContainer {
    text-align: center;
    padding: var(--space-8);
}

.noFlightsAction {
    margin-top: var(--space-4);
    display: inline-block;
}
